@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar {
  width: 50vw;
  left: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #3c1b43;
  padding: 1rem;
}



.navbar a {
  display: flex;
  justify-content: space-between;
  align-items: left;
  background-color: #ffffff;
  color: #3c1b43;
  padding: 1rem;
}

.navbar .title {
  color:white !important;
  font-weight: bold;
  background-color: rgb(123, 0, 255);
}

.navbar a:hover {
  background-color:#eee5e9;
  border-radius: 15%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 36px;
}
.BAAA{
  background-color: red;
}
